<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kurly.mapper.CartMapper">


<select id="isInCart" parameterType="HashMap" resultType="int">
	select count(pcode) from tbl_cart where customer=#{customer} and pcode= #{pcode}
</select>

<update id="updateCart" parameterType="HashMap">
	update tbl_cart set pcount = pcount+#{pcount} where pcode=#{pcode} and customer=#{customer}
</update>

<insert id="insertCart" parameterType="HashMap">
	insert into tbl_cart (customer,pcode,pcount) values (#{customer},#{pcode},#{pcount})
</insert>

<select id="checkCart" parameterType="String" resultType="int">
	select count(customer) from tbl_cart where customer = #{customer}
</select>

<select id="getCartList" parameterType="String" resultType="com.kurly.dto.CartVO">
	 SELECT a.pcode as pcode, a.pcount as pcount, b.pname as pname, b.price as price, b.org_filename FROM tbl_cart a 
	 INNER JOIN tbl_product b ON a.pcode=b.pcode AND a.customer=#{customer}
</select>

<delete id="deleteAll" parameterType="String">
	delete from tbl_cart where customer=#{customer}
</delete>

<!-- 장바구니 한 행 삭제 -->
<delete id="deleteThis" parameterType="HashMap">
	delete from tbl_cart where pcode=#{pcode} and customer=#{customer}
</delete>

<!-- 장바구니 선택 삭제 -->
<delete id="deleteCheck" parameterType="HashMap">
	delete from tbl_cart where pcode=#{pcode} and customer=#{customer}
</delete>
<!-- 장바구니 수량변경 -->
<update id="modifyCount" parameterType="HashMap">
	UPDATE tbl_cart SET pcount = #{pcount} WHERE pcode=#{pcode} AND customer = #{customer}
</update>
</mapper>