<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kurly.mapper.OrderMapper">

<!-- 주문서 -->
<select id="goOrderSheet" parameterType="HashMap" resultType="com.kurly.dto.OrderVO">
SELECT a.pcode, b.pcode, a.pcount , b.pname, b.price,
 b.org_filename FROM tbl_cart a INNER JOIN tbl_product b ON b.pcode=#{pcode} AND a.pcode=#{pcode} AND a.customer=#{customer}
</select>


<!-- 주문자 정보 -->
<select id="customerInfo" parameterType="String" resultType="com.kurly.dto.MemberVO">
	select username, telno, address, email from tbl_member where userid=#{userid}
</select>

<!-- 주문하기 -->
<update id="goOrder" parameterType="HashMap">
	UPDATE tbl_cart SET isorder = 'y' WHERE pcode = #{pcode} AND customer=#{customer}
</update>

<!-- 주문한 상품 tbl_cart -> tbl_order -->
<insert id="insertOrder">
INSERT INTO tbl_order (order_code,customer,pcode,pcount,address) 
SELECT tbl_order_seq.nextval, a.customer, a.pcode, 
a.pcount, b.address FROM tbl_cart a INNER JOIN tbl_member b ON a.customer = b.userid WHERE a.isorder = 'y'
                    
</insert>

<!-- 결제한 상품 장바구니에서 삭제 -->
<delete id="delOrderCart">
	delete from tbl_cart where isorder='y'
</delete>

<!-- 결제한 상품 재고 변경 -->
<update id="updateStock" parameterType="String">
	update (select a.stock, b.pcount from tbl_product a, tbl_cart b where a.pcode=b.pcode and b.customer=#{customer}) 
	set stock = stock-pcount
</update>

<!-- 주문 상품 tbl_product 개수 (인기상품) -->
<update id="updateOrderQuan" parameterType="int">
	update (select a.pcount, b.order_quantity from tbl_cart a, tbl_product b where b.pcode=a.pcode) set order_quantity = order_quantity+pcount
</update>
<!-- 주문 리스트 있는 지 체크 -->
<select id="checkOrder" parameterType="String" resultType="int">
	select count(order_code) from tbl_order where customer = #{customer}
</select>

<!-- 주문 목록 출력 -->
<select id="getOrderList" parameterType="String" resultType="com.kurly.dto.OrderVO">
SELECT a.order_code, a.pcount, a.state as state, a.order_date AS order_date,
b.org_filename , b.pname, b.price as price  FROM tbl_order a INNER JOIN tbl_product  b 
ON a.customer = #{customer} AND a.pcode = b.pcode ORDER BY order_date DESC
</select>

</mapper>