<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<link rel="stylesheet" type="text/css" th:href="@{/css/modifyInfo.css}">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>

<script>

function memberInfoDelete() {
	
	if(confirm("사용자 탈퇴를 하시면 작성하셨던 모든 게시물도 함께 삭제됩니다. \n정말로 사용자 탈퇴 하시겠습니까?") == true)
	 	{ alert("사용자 정보기 삭제 되었습니다."); location.href='/userManage/memberInfoDelete';  } 	
}
$(document).ready(function() {
	
	$("#btn_modify").click(function(){
		$("#modifyForm").attr("action","/userManage/modifyPassword").submit();
	});
	
	// 현재 비밀번호 확인
	$("#oldpassword").change(function(){
		$.ajax({
			url: "/userManage/passwordCheck",
			type: "post", 
			datatype: "json",
			data: {"oldpassword": $("#oldpassword").val()},
			success: function(data){
				//다르면 0, 같으면 1
				if(data == 0 ){
					$("#checkPW").html("비밀번호를 확인하세요");
					$("#oldpassword").val("").focus();
				} else {
					$("#checkPW").empty();
				}
			}
		});
	});
	
	// 변경할 비밀번호의 일치여부 확인
	$("#password1").change(function(){
		if($("#password").val() != $("#password1").val()) {
			$("#checkNewPW").html("입력한 비밀번호를 확인해주세요.");
			$("#password1").empty();
			$("#password1").focus();
		}
		else { $("#checkNewPW").empty(); }
	});
});


</script>
</head>

<body>

<div class="main" align="center">
<div class="memberInfoView">
	<br><br>
	<h1 style="text-align:center;">사용자 정보</h1>
	<form id="modifyForm" method="post"> 
	<div class="infoDivision">
		<div class="infoLabel">아이디</div>
		<div class="infoItemView">[[ ${member.userid} ]]</div>
	</div>
	<div class="infoDivision">
		<div class="infoLabel">현재 비밀번호</div>
		<input id="oldpassword" class="infoItemView" name="oldpassword" type="password" placeholder="현재 비밀번호를 입력해주세요" />
		<div id="checkPW" class="checkField"></div>
	</div>
	<div class="infoDivision">
		<div class="infoLabel">새 비밀번호</div>
		<input class="infoItemView" id="password" name="password" type="password" placeholder="새 비밀번호를 입력해주세요" />
	</div>
	<div class="infoDivision">
		<div class="infoLabel">새 비밀번호 확인</div>
		<input class="infoItemView" id="password1" name="password1" type="password" placeholder="새 비밀번호를 한 번 더 입력해주세요" />
		<div id="checkNewPW" class="checkField"></div>
	</div>
	<div class="infoDivision">
		<div class="infoLabel">이름</div>
		<div class="infoItemView">[[ ${member.username} ]]</div>
	</div>
	<div class="infoDivision">
		<div class="infoLabel">전화번호</div>
		<div class="infoItemView">[[ ${member.telno} ]]</div>
	</div>
	<div class="infoDivision">
		<div class="infoLabel">주소</div>
		<div class="infoItemView">[[ ${member.address} ]]</div>
	</div>
	<div class="infoDivision">
		<div class="infoLabel">이메일</div>
		<div class="infoItemView">[[ ${member.email} ]]</div>
	</div>
	
	<input type="button" id="btn_modify" class="btn_modify" value="회원정보 수정">
	<input type="button" id="btn_delete" class="btn_delete" value="회원탈퇴">
	
	</form>
</div>     
</div>

</body>
</html>