<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<link rel="stylesheet" type="text/css" th:href="@{/css/searchForm.css}">
<script src="http://code.jquery.com/jquery-1.11.3.js"></script>
<script>
function IDSearchCheck(){

	if($("#username").val() == "") { alert("이름을 입력하세요."); $("#username").focus();  return false; }
	if($("#telno").val() == '') { alert("전화번호를 입력하세요."); $("#telno").focus(); return false; }
	$("#IDSearchForm").attr("action", "/member/searchID").submit();
}

function press() {
	
	if(event.keyCode == 13){ IDSearchCheck(); }
}

</script>
</head>

<body>
<div class="home_body_div" align=center>
	<form name="IDSearchForm" class="searchForm" id="IDSearchForm" method="post">
		<h1>아이디 찾기</h1>
     	<div class="searchFormDivision">
     		<label class="formLabel">이름</label>
         	<input type="text" name="username" id="username" class="username" placeholder="이름을 입력하세요" />
		</div>
		<div class="searchFormDivision">
			<label class="formLabel">전화번호</label>
         	<input type="text" id="telno" name="telno" class="telno" placeholder="전화번호를 입력하세요"
         		onkeydown="press(this.form)" oninput="this.value=this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
		</div>
		<p th:if="${msg=='ID_NOT_FOUND'}" style="font-size:15px; text-align: center; color:#5F0080;">입력한 조건에 맞는 사용자가 존재하지 않습니다.</p>
		<input type="button" id="btn_IDSearch" class="btn_IDSearch" value="확인" onclick="IDSearchCheck()"> 
	</form>
</div>

</body>
</html>