<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<link rel="stylesheet" type="text/css" th:href="@{/css/searchForm.css}">
<script src="http://code.jquery.com/jquery-1.11.3.js"></script>
<script>
function pwSearchCheck(){

	if($("#userid").val() == "") { alert("아이디를 입력하세요."); $("#userid").focus();  return false; }
	if($("#username").val() == '') { alert("이름을 입력하세요."); $("#username").focus(); return false; }
	$("#pwSearchForm").attr("action", "/member/searchPassword").submit();//경로확인 필요
}

function press() {
	
	if(event.keyCode == 13){ pwSearchCheck(); }
	
}

</script>
</head>

<body>

<div class="home_body_div" align=center>
	<form name="pwSearchForm" class="searchForm" id="pwSearchForm" method="post">
		<h1>임시 비밀번호 발급</h1>
		<div class="searchFormDivision">
			<label class="formLabel">아이디</label>
			<input type="text" name="userid" id="userid" class="userid" placeholder="아이디를 입력하세요">
		</div>
		<div class="searchFormDivision">
			<label class="formLabel">이름</label>
			<input type="text" id="username" name="username" class="username" onkeydown="press(this.form)" placeholder="이름을 입력하세요">
		</div> 
		<p th:if="${msg=='PASSWORD_NOT_FOUND'}" style="font-size:15px; text-align: center; color: #5F0080;">입력한 조건에 맞는 사용자가 존재하지 않습니다.</p>
		<p id="tempPW"></p> <!-- 이거 뭐임?? -->
		<input type="button" id="btn_pwSearch" class="btn_pwSearch" value="확인" onclick="pwSearchCheck()"> 
	</form>
</div>
</body>
</html>