<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<link rel="stylesheet" type="text/css" th:href="@{/css/searchView.css}">
<script src="http://code.jquery.com/jquery-1.11.3.js"></script>
</head>

<body>
<div align=center>
	<div class="pwSearchResult">
	<h1>임시 비밀번호 발급</h1>
	<div class="label">비밀번호</div>
	<div class="pwView">[[ ${tempPW} ]]</div>
	<button id="btn_goLogin" onclick="location.href='/member/login'">로그인</button>
	</div> 
</div>
</body>
</html>