<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/productDetail.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/list.css}">
<title>FakeKurly :: 오늘의 장보기, 페이크 컬리</title>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
</head>
<body>
<!-- 
	
	스타일 적용은 productDetail.css로 전부 뺐음 (그랬더니 스타일 이상해짐)
	자바스크립트 부분은 detail_script.js로 부분적으로 옮김 (변경 필요)
	<th:block ... headerFragment>로 헤더 삽입함 (헤더 변경 필요)
	
 -->
<div class="container">

	<div style="width:1050px;height:50px"></div> 
	<div id="mid_content">
		<div id="side_left" >
			<img src="/images/rsample.png" width=400px; height=500px;>
		</div>
		<div id="side_right" align="left">
			<input type="hidden" id="pcode" th:value="${detail.pcode}">
			<h3><strong>[[${detail.pname}]]</strong></h3>
			<p><h3>[[${detail.price}]]원</h3>
			<hr size=1px>
			<p>업체 [[${detail.company}]]
			<hr size=1px>
			<p><h5>상세정보</h5> 
			<p>[[${detail.description}]]
			<hr size=1px>
			
			<div id="count_div">
				<h4 style="font-weight: bold">수량</h4>
				<div id="count_div1"><input id='btn_minus' type='button' style="width:50px" onclick='count("minus")' value='-' disabled="disabled"/></div>
				<div id="result">1</div><!-- 선택한 수량으로 바꾸기 -->
				<div id="count_div1"><input id='btn_plus' type='button' style="width:50px" onclick='count("plus")' value='+'/></div>
				<div style="display:flex;"> 
					<h6 style="font-weight: bold;">재고</h6>
					<div id="stock" style=" margin-left:20px;">[[${detail.stock}]]</div>
					<h6 style="font-weight: bold;">개</h6>
				</div>	
			</div>
			<hr size=1px>			
			<div id = "side_right_box2">
				<div id="price_div" style="display:flex;">
					<p>총 상품금액 :<h3 id="price" style="font-weight: bold">★여기서 계산된 금액을 출력★</h3>
				</div>	
			</div>
			<div id = "side_right_box">
				<button class="btn btn1" id="btn_cart" onclick="sendCartData()">장바구니 담기</button>
				<button class="btn btn1" id="btn_out" style="display:none;">품절</button>
			</div><br>
			
			<div class="popup-wrap" id="popup" style="display:none;"> 
	    		<div class="popup">
	      			<div class="popup-head">	
	          			<span class="head-title">Kurly</span>
	      			</div>
	      			<div class="popup-body">	
	        			<div class="body-content">
	          				<div class="body-titlebox"></div>
	          				<div class="body-contentbox">
				          	  	<p> 장바구니에 상품이 담겼습니다.</p>
				            		장바구니로 이동하시겠습니까?
				         	</div>
	        			</div>
	     			</div>
	      			<div class="popup-foot"> 
	       				 <span class="pop-btn confirm" id="confirm">장바구니로 가기</span>
	        			 <span class="pop-btn close" id="close" style="color:white; font-size:15px;">창 닫기</span>
	      			</div>
				</div>
			</div>
		</div><!-- end of "side_right" -->
		<div id="bottom_box">
			<p>인기 상품</p><hr />
			<div class="container">
				<div class="row" align="center">
					<div class="col-md-3">
						<p>★링크를 건 이미지★</p>
						<p>★해당 상품의 이름★</p>
						<p>★해당 상품의 가격★ 원</p>
					</div>
				</div>
			</div>
		</div><!-- end of "bottom_box" -->
		<div id = "bottom_content">
		<div style="width:1050px;height:50px"></div> 
			<h4><Strong>PRODUCT Q&A</Strong></h4>
			<div style="width:1050px;height:50px"></div> 
			<h7 style="color:gray">
				<!-- ★ 여기 <p>태그 빼도 될 거 같은데 확인 바람 ★ -->
				<p>상품에 대한 문의를 남기는 공간입니다. 해당 게시판의 성격과 다른 글은 사전동의 없이 담당 게시판으로 이동될 수 있습니다.</p>
				<p>배송관련, 주문(취소/교환/환불)관련 문의 및 요청사항은 마이컬리 내 <strong>1:1문의</strong>에 남겨주세요.</p>
			</h7>
			★ 여기에 문의 게시판 ★
			★ 별도의 페이지로 분리한 다음 하단에 삽입해도 될 것 같음 ★
		</div><!-- end of "bottom_content" -->
	</div>
</div>
</body>
</html>