<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<title>페이크컬리 :: 오늘의 장보기, 페이크컬리</title>
<script>
$(document).ready(function(){
	//menu v1 
	$(".menu-v1").mouseover(function(){
		$(this).children(".submenu").stop().slideDown();
	});
	$(".menu-v1").mouseleave(function(){
		$(this).children(".submenu").stop().slideUp();
	});
	
	//menu v2
	$(".menu-v2").mouseover(function(){
		$(this).children(".submenu").show(200);
	});
	$(".menu-v2").mouseleave(function(){
		$(this).children(".submenu").hide(200);
	});
	
	$('.slider').bxSlider({pager:true, auto:true}); //슬라이더
});

//특수문자 입력 방지
function characterCheck(obj){
var regExp = /[\{\}\[\]\/|\`!^\-_+┼\\'\"\\\(\=]/gi; 
//허용할 특수문자는 여기서 삭제
if( regExp.test(obj.value) ){
	alert("특수문자는 입력하실수 없습니다.");
	obj.value = obj.value.substring( 0 , obj.value.length - 1 ); // 입력한 특수문자 한자리 지움
	}
}

function findProduct(){
	
	var findKeyword =  $("#findKeyword").val();
	// ★ 주소 변경 필요 ★
	location.href = 'searchProduct.jsp?page=1&findKeyword=' + findKeyword;
}

function press(){
	
	if(event.keyCode == 13){findProduct();}
	
}
</script>
</head>
<body>
<!-- 
	카테고리 간소화, 세부 카테고리 삭제
 -->

<div id="container"  align="center">
	<div id="wrap">
		<div class="user_menu">
			<ul class="user_menu">
				<li style="margin:10px; font-size: 15px;">
					<a href="/member/signup" th:if="${session.userid == null}">회원가입</a>
					<a href="/userManage/logout" th:if="${session.userid != null}">로그아웃</a>
				</li>
				<li style="margin:10px; font-size: 15px;">
					<a href="/member/login" th:if="${session.userid == null}"> 로그인</a>
					<a href="#" th:if="${session.userid != null}"> [[${session.username}]] 님</a>
				</li>
				<li style="margin:10px; font-size: 15px;">
					<a href="#"> 고객센터 ▼</a>
				</li>
			</ul>
		</div><!-- end of "user_menu" -->
		<header>
			<a href="#" style="margin:10px; padding:0;"><img src='/icons/logo.svg' style='margin:10px; padding:0'></a>
			<span style='color:rgb(95, 0, 128); margin:0px;'>마켓컬리</span>
			<div class="search">
				<input type="text" class="findKeyword" name="findKeyword" placeholder="검색어를 입력해주세요" onkeydown="press()" onkeyup="characterCheck(this)" />
				<img id="searchimg" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" onclick="findProduct()">
			</div>
			<div class="menu_personal">
				<!-- 각 기능이 있는 파일 링크 걸기 -->
				<!-- 로그인하지 않은 상태에서는 로그인이 필요하다는 안내창을 띄울 것 -->
				<a href="#"><img src="/icons/gps.png" width="30px" height="30px"></a>
				<a href="/cart/cartlist"><img src="/icons/cart.png" width="30px" height="30px"></a>
				<a href="#"><img src="/icons/list.png" width="30px" height="30px"></a>
			</div>
		</header>
		<div id="menu">
			<div class="dropdown">
				<div class="menu_list" style="display:flex; align-items:center;">
				
					<!-- ★ 링크 변경 ★ -->
					<span class="dropbtn" style="margin:0;">카테고리</span>
					<div id="menu_list" style="display:flex;">			      
						<div style=" align-items:center; margin-left:160px;">
							<a href="productAll.jsp?menu=신상품"><span>신상품</span> </a>
						</div>
		    		 	<div style="align-items:center; margin-left:160px;">
							<a href="productAll.jsp?menu=베스트"><span>베스트</span> </a>
						</div>
						<div style=" align-items:center; margin-left:160px;">
							<a href="productAll.jsp?menu=알뜰쇼핑"><span>알뜰쇼핑</span> </a>
						</div>
						<div style=" align-items:center; margin-left:160px;">
							<a href="eventList.jsp?menu=특가/혜택"><span>특가/혜택</span> </a>
						</div>
					</div><!-- end of "menu_list" -->
					<div class="dropdown-content" style="margin:0;">
						<ul id="nav-v2" style="margin-left:0; padding-left:0;">
							<li class="menu-v2"><a href="productList.jsp?category=채소&categoryNum=0">채소</a></li>
							<li class="menu-v2"><a href="productList.jsp?category=과일&categoryNum=1">과일</a></li>
							<li class="menu-v2"><a href="productList.jsp?category=수산&categoryNum=2">수산</a></li>
							<li class="menu-v2"><a href="productList.jsp?category=정육&categoryNum=3">정육</a></li>
							<li class="menu-v2"><a href="productList.jsp?category=반찬&categoryNum=4">반찬</a></li>
							<li class="menu-v2"><a href="productList.jsp?category=간식&categoryNum=5">간식</a></li>
						</ul>
					</div><!-- end of "dropdwon-content" -->
				</div><!-- end of "menu_list" -->
			</div><!-- end of "dropdown" -->
		</div><!-- end of "menu" -->
	</div>
</div><!-- end of "container" -->
</body>
<th:block>
</html>