<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

<title>페이크컬리 :: 오늘의 장보기, 페이크컬리</title>
<script>
$(document).ready(function(){
	//menu v1 
	$(".menu-v1").mouseover(function(){
		$(this).children(".submenu").stop().slideDown();
	});
	$(".menu-v1").mouseleave(function(){
		$(this).children(".submenu").stop().slideUp();
	});
	
	//menu v2
	$(".menu-v2").mouseover(function(){
		$(this).children(".submenu").show(200);
	});
	$(".menu-v2").mouseleave(function(){
		$(this).children(".submenu").hide(200);
	});
	
	$('.slider').bxSlider({pager:true, auto:true}); //슬라이더
});

//특수문자 입력 방지
function characterCheck(obj){
var regExp = /[\{\}\[\]\/|\`!^\-_+┼\\'\"\\\(\=]/gi; 
//허용할 특수문자는 여기서 삭제
if( regExp.test(obj.value) ){
	alert("특수문자는 입력하실수 없습니다.");
	obj.value = obj.value.substring( 0 , obj.value.length - 1 ); // 입력한 특수문자 한자리 지움
	}
}

function findProduct(){
	
	var findKeyword =  $("#findKeyword").val();
	// ★ 주소 변경 필요 ★
	location.href = '/collections/searchProduct?keyword=' + findKeyword;
}

function press(){
	
	if(event.keyCode == 13){findProduct();}
	
}
</script>
</head>
<body>
<!-- 
	카테고리 간소화, 세부 카테고리 삭제
 -->

<div id="container"  align="center">
	<div id="wrap">
		<div id="user_menu">
			<ul id="user_menu">
				<li class="gotoSignup"><a href="/member/signup" th:if="${session.userid == null}">회원가입</a>
										<a href="/userManage/logout" th:if="${session.userid != null}">로그아웃</a></li>
				<li class="loginMenu"><a href="/member/login" th:if="${session.userid == null}"> 로그인</a>
										<a href="/userManage/memberInfo" th:if="${session.userid != null}"> [[${session.username}]] 님</a></li>
				<li class="serviceCenter"><a href="#"> 고객센터 ▼</a></li>
			</ul>
		</div><!-- end of "user_menu" -->
		<header>
			<a href="/main" style='margin:10px; padding:0'><img src='/icons/logo.svg' style='margin:10px; padding:0'></a>
			<span class="kurly">마켓컬리</span>
			<div class="search">
				<input type="text" id="findKeyword" name="findKeyword" placeholder="검색어를 입력해주세요" class="findKeyword" onkeydown="press()" onkeyup="characterCheck(this)">
				<img id="searchimg" src="/icons/search.png" onclick="findProduct()">
			</div>
			<div class="menu_personal">
				<a href="#"><img src="/icons/gps.png" width="30px" height="30px"></a> <!-- 각 기능이 있는 파일 링크 걸기 -->
				<a href="/cart/cartlist"><img src="/icons/cart.png" width="30px" height="30px"></a>
				<a href="/order/orderlist"><img src="/icons/list.png" width="30px" height="30px"></a>
			</div>
		</header>
		<div id="menu">
			<div class="dropdown">
				<div class="menu_list" style="display:flex; align-items:center;">
				
					<!-- ★ 링크 변경 ★ -->
					<span class="dropbtn"><img src="/icons/hamburger.png" class="hamburgerMenu">카테고리</span>
					<div id="menu_list" style="display:flex;">			      
						<div class="menuItem">
							<a href="/collections/newProduct"><span>신상품</span> </a>
						</div>
		    		 	<div class="menuItem">
							<a href="/collections/bestProduct"><span>베스트</span> </a>
						</div>
						<div class="menuItem">
							<a href="/collections/saleProduct"><span>알뜰쇼핑</span> </a>
						</div>
						<div class="menuItem">
							<a href="/collections/benefits"><span>특가/혜택</span> </a>
						</div>
						
					</div><!-- end of "menu_list" -->
					<div class="dropdown-content" style="margin:0;">
						<ul id="nav-v2" style="margin-left:0; padding-left:0;">
							<li class="menu-v2"><a href="/collections/category_product?category=A0000">채소</a></li>
							<li class="menu-v2"><a href="/collections/category_product?category=B0000">과일·견과·쌀</a></li>
							<li class="menu-v2"><a href="/collections/category_product?category=C0000">수산·해산·건어물</a></li>
							<li class="menu-v2"><a href="/collections/category_product?category=D0000">정육·계란</a></li>
							<li class="menu-v2"><a href="/collections/category_product?category=E0000">국·반찬·메인요리</a></li>
							<li class="menu-v2"><a href="/collections/category_product?category=F0000">샐러드·간편식</a></li>
							<!-- <li class="menu-v2"><a href="/collections/category_product?category=G0000">면·양념·오일</a></li> -->
							<!-- <li class="menu-v2"><a href="/collections/category_product?category=H0000">생수·음료·우유·커피</a></li> -->
							<li class="menu-v2"><a href="/collections/category_product?category=I0000">간식·과자·떡</a></li>
							<!-- <li class="menu-v2"><a href="/collections/category_product?category=J0000">건강식품</a></li> -->
						</ul>
					</div><!-- end of "dropdwon-content" -->
				</div><!-- end of "menu_list" -->
			</div><!-- end of "dropdown" -->
		</div><!-- end of "menu" -->
	</div>
</div><!-- end of "container" -->
</body>
<th:block>
</html>