body{
	font-family: 'Noto Sans KR', sans-serif;
}

#wrap{
	
	position: relative;
    width: 1050px;
    height: 80px;
    margin-bottom:80px;
   
}
#container{
	height:100%;
	width:100%;
}
header {
  width:1050px;
  height: 75px;
  color: white;
  font-weight: bold;
  margin-top:30px;
  display: flex;
  align-items:center;
}

.search {
  position: relative;
  width: 300px;
  margin: 150px;
  
}

input.findKeyword {
  width: 100%;
  border: 1px solid #5F0080;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
  
  	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.33px;
}

#searchimg {
  position : absolute;
  width: 17px;
  height:17px;
  top: 13.5px;
  
  left:295.5px;
  margin: 0;
  cursor:pointer;
  
  filter: invert(15%) sepia(76%) saturate(7459%) hue-rotate(285deg) brightness(55%) contrast(118%);
}

.searchbutton{

	border:0;
	outline:0;
	background-color:transparent;
}

ul{
	list-style:none;
}

#user_menu{
	top:5px;
	float:right;
	display:flex;
	height: 35px;
}

a{
	text-decoration:none;
	color:black;
	margin:0;
}
a:hover{
	color:rgb(95, 0, 128);
	
}
a:visited { text-decoration: none; }

.dropdown{
  position : relative;
  display : inline-block;
 
  z-index:2;
}

.dropdown-content{
  display : none;
  position : absolute;
  width:150px;
  background:white;
  z-index:999;

}

.dropdown-content a{
  display : block;
 
}


.dropdown-content>ul>li{
  margin-bottom:10px;
  z-index:999;
}


.dropdown:hover .dropdown-content {

  display: block;
  z-index:2;
  top: 20px;
}

#nav-v2{width:150px;text-align:center;z-index:999;}
.menu-v2{
	line-height:2;
	z-index:999;
	position:relative;
	text-align: left;
	margin-left: 10px;
}
.menu-v2 .submenu{
	position:absolute;
	width:150px;
	left:149px;
	border:1px solid grey;
	background-color:white;
	color:white;
	top:-1px;
	display:none;
	margin-left:0; padding-left:0;
	z-index : 1;
}
.submenu{
	padding-left:0;

}
.menu-v2:hover{
	background-color:white;
	color:white;
}
.menu-v2 .submenu>li:hover{
	background-color:white;
	color:#222;
}

#menu{
	display:inline-block;
	align-items:center;
	
}

span.kurly {
	width: 66.45px;
	height: 27px;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	
	margin:0px;
	
	color: #5F0080;
}

span.dropbtn{
	height: 24px;
	left: 34.21%;
	
	font-weight: 450;
	font-size: 16px;
	line-height: 20px;
	
	letter-spacing: -0.3px;
	
	color: #333333;
	
	margin:0;
	
	display: flex;
	vertical-align: middle;
	text-align: center;
}

.hamburgerMenu{
	width: 22px;
	height: 22px;
	margin-right: 4px;
	
}

.menuItem{
	height: 24px;
	left: 34.21%;
	
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	
	letter-spacing: -0.3px;
	
	color: #333333;
	
	margin-left:160px;
}

.gotoSignup, .loginMenu, .serviceCenter{
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;

	letter-spacing: -0.3px;
	margin:10px;
}
