/* fakekurly 개인정보 view style */

body { font-family: "나눔고딕", "맑은고딕" }
.memberInfoView {
	width: 600px;
	height: auto;
	padding: 0;
	background-color:#FFFFFF;
}

.infoDivision {
	width: 600px;
	margin: 0;
	padding: 10px 20px 10px 20px;
	display:inline-block;
	box-sizing: border-box;
}
.infoLabel {
	width: 130px;
	height: 50px;
	box-sizing: border-box;
	line-height: 50px;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
	padding-right: 15px;
	float: left;
	text-align: left;
}
.infoItemView {
	display:inline-block;
	width: 430px;
	height: 50px;
	border: 1px solid;
	box-sizing : border-box;
	border-radius: 5px;
	outline: none;
	border-color: #D0D0D0;
	font-size: 16px;
	background: none;
	margin: 0;
	padding-left: 15px;
	text-align: left;
	line-height: 50px;
}

.checkField {
	width: 420px;
	height: auto;
	float: right;
	text-align: left;
	font-size: 14px;
	color: red;
}

.btn_modify  {
	width: 180px;
	height:60px;
	background: #5F0080;
	color:white;
	font-weight: bold;
	font-size: 15px;
	border: 1px solid;
	border-radius: 5px;
	cursor:pointer;
	transition: 0.4s;
	margin: 50px 5px 5px 5px;
}

.btn_delete  {
	width: 180px;
	height: 60px;
	background: white;
	color: #5F0080;
	font-weight: bold;
	font-size: 15px;
	border: 1px solid;
	border-radius: 5px;
	margin: 50px 5px 5px 5px;
	cursor:pointer;
}